
/*

**T

h2.intro {
  color: red;
}


p.intro {
  width: 50%;
  font-style: italic;

}

img.intro {
  text-align: center;
  border-style: solid;
  border-weight: 10px;
  border-color: gray;
}
*/

.h2intro {
  color: red;
}
.intro {
  text-align: center;
  font-style: italic;
  width: 50%;
}
